# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# zip files
*.zip
*.crx
versions

# assets
assets/banner1.png
assets/banner2.png
banner1.png
banner2.png

# Doc. files
FutureBuilding.txt